./swiss_risk_model
./pytest_cache
./docs/.DS_Store
.DS_Store
./docs/source/figures/illustrations.pptx
.vscode/
dist/
pyrecodes.egg-info/
build/
env_pyrecodes/
__pycache__/
temp_convert_to_det_json.ipynb
.coverage
.env
./Example 3/create_exposure.ipynb