./pytest_cache
./docs/.DS_Store
.DS_Store
./docs/source/figures/illustrations.pptx
.vscode/
dist/
pyrecodes.egg-info/
build/
env_pyrecodes/
__pycache__/
.coverage
.env
openai_api_key.json
./Example 6/literature_for_households_pdfs/
paper_household_displacement_analysis.ipynb
sherlock_results/
.claude
example_7_plot_hpc_results.ipynb
Example 7/hpc_final_results/
Example 5/water_distribution_network/rewet_results/
Example 5/water_distribution_network/rewet_temp/