./pytest_cache
./docs/.DS_Store
.DS_Store
./docs/source/figures/illustrations.pptx
.vscode/
dist/
pyrecodes.egg-info/
build/
env_pyrecodes/
__pycache__/
.coverage
.env
openai_api_key.json
./Example 6/literature_for_households_pdfs/
paper_household_displacement_analysis.ipynb
sherlock_results/
.claude
